.experience {
    padding: 7% 10%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.experience .header {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
    margin: 30px;
    text-align: center;
}

.experience-item {
    width: 100%;
    max-width: 800px;
    border: 3px solid rgba(255, 179, 224, 0.27);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 1vw 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experience .content-title {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.experience .company-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.experience .company {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    font-style: italic;
}

.experience .duration {
    font-size: 16px;
    font-weight: 300;
    color: #888;
}

.experience .description {
    list-style-type: none;
}

.experience .description li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 5px 0;
}

/*.divider {*/
/*    border: none;*/
/*    border-top: 1px solid #ddd;*/
/*    margin: 15px 0;*/
/*    width: 100%;*/
/*}*/