:root {
    --body_background: #e6e6e6;
    --body_color: #1d1d1d;
    --link_color: navy;
}

[data-theme="dark"] {
    --body_background: #282c34;
    --body_color: #white;
    --link_color: #cyan;
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 200;
    src: url("assets/fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 400;
    src: url("assets/fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Neue Montreal";
    font-style: italic;
    font-weight: 400;
    src: url("assets/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--body_background);
    color: var(--body_color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #808080 #e6e6e6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Neue Montreal", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    transition: 0.5s;
}